:root {
  --color-x: rgb(234, 55, 55);
  --color-o: rgb(14, 113, 34);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, purple, gray);
  font-family: Google Sans Code;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 4rem;
  margin-top: 0;
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tile {
  width: 175px;
  height: 150px;
  color: white;
  border-radius: 5%;
}

.tile:hover {
  filter: brightness(75%);
}

.reset-game-btn {
  margin-top: 2rem;
  margin-left: 11.4rem;
  width: 175px;
  height: 60px;
  font-size: 1.5rem;
  border-radius: 3%;
}

.reset-game-btn:hover {
  filter: brightness(75%);
}

.X {
  font-size: 6rem;
  color: var(--color-x);
  margin: 0;
  margin-top: 10px;
  text-transform: capitalize;
}

.O {
  font-size: 6.3rem;
  color: var(--color-o);
  margin: 0;
  margin-top: 10px;
  text-transform: capitalize;
}

.person-turn {
  text-align: center;
  font-size: 1.75rem;
}

.x-turn {
  color: var(--color-x);
}

.o-turn {
  color: var(--color-o);
}
